/* your styles go here */

body {
  background-image: url("../sandpaper.png");
  background-attachment: fixed;
}

.clear {
  background: #eee;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #000000;
}

.fours {
  -webkit-column-count: 4 auto;
  -moz-column-count: 4 auto;
  column-count: 4 auto;
  column-width: 200px;
  display: inline-block;
}

.delete {
  background-color: maroon;
  border-color: maroon;
  width: 48px;
}

.delete:hover {
  background-color: #934e37;
  border-color: #934e37; 
}

.spinner {
  display: none;
}

[v-cloak].spinner {
  display: block;
}

.progress-bar {
  color: #000;
  background-color: #937c37;
  text-align: left;
  text-indent: 10px;
}

.progress {
    background-color: #D9D8D3;
}

select {
  border-radius: 0;
  -webkit-appearance: none;
}
