/* your styles go here */

body {
  background-image: url("../concrete_wall_2.png");
  background-attachment: fixed;
}

.clear {
  width: 100%;
  background: none;
  padding: 0px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  border-radius: 5px;
}

.threes {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 4;
}

.delete {
  background-color: maroon;
  border-color: maroon;
}

.delete:hover {
  background-color: red;
  border-color: red; 
}

.spinner {
  display: none;
}

[v-cloak].spinner {
  display: block;
}