/* your styles go here */

body {
  background-image: url("../sandpaper.png");
  background-attachment: fixed;
}

.clear {
  background: #eee;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #000000;
  border-radius: 5px;
}

.threes {
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  column-count: 4;
  line-height: 38px;
}

.twos {
  column-count: 2;
}

.delete {
  background-color: maroon;
  border-color: maroon;
}

.delete:hover {
  background-color: #934e37;
  border-color: #934e37; 
}

.spinner {
  display: none;
}

[v-cloak].spinner {
  display: block;
}

.progress-bar {
  color: #000;
  background-color: #937c37;
  text-align: left;
  text-indent: 10px;
}

.progress {
    background-color: #ccc;
}